/* All elements */
* {
  font-size: 16px;
  font-family: monospace;
}

/* General body styling */
body {
  margin: 0;
  padding: 20px;
  color: #333;
}

/* Styling for the form fields */
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  width: 100%;
  padding: 8px;
  margin: 10px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: none;
}

/* Styling for the form buttons */
button {
  width: 100%;
  background-color: #007bff;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

/* Additional styling for the logout button to differentiate it */
#logoutButton {
  background-color: #dc3545;
}

#logoutButton:hover {
  background-color: #c82333;
}

/* Styling for form container or any additional content */
.container {
  border-radius: 5px;
  background-color: #ffffff;
  padding: 20px;
  margin-top: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Link styling */
a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Heading styling */
h2 {
  font-size: 28px;
  color: #333;
  margin-bottom: 20px;
}

/* Styling for password requirements */
#passwordRequirements * {
  font-size: 14px;
}

#passwordRequirements ul {
  padding-left: 20px;
  margin: 5px;
}

#passwordRequirements li {
  margin-bottom: 5px;
}

#passwordRequirements li.valid {
  color: green;
}

body {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: auto;
  width: 50%;
  padding: 10px;
}
